.drop {
    position: absolute;
    animation: drop-fall 9s infinite;
    animation-delay: var(--drop-delay, 0s);
    top: var(--drop-top0, 0px);
    left: var(--drop-left, 50%);
    transform: translateX(-50%);
}

@keyframes drop-fall {
    0% {
        top: var(--drop-top0, 0px);
        transform: translateX(-50%) scale(0);
        animation-timing-function: cubic-bezier(0.6, 0, 1, 1);
    }
    10% {
        top: var(--drop-top0, 0px);
        transform: translateX(-50%) scale(1);
        animation-timing-function: cubic-bezier(0.6, 0, 1, 1);
    }
    20% {
        top: var(--drop-top1, 45%);
        transform: translateX(-50%) scale(1);
        animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
    }
    70% {
        top: var(--drop-top2, 65%);
        transform: translateX(-50%) scale(1);
        animation-timing-function: cubic-bezier(0.42, 0, 1, 1);
    }
    80% {
        top: var(--drop-top3, 100%);
        transform: translateX(-50%) scale(1);
        animation-timing-function: linear;
    }
    100% {
        top: var(--drop-top4, 100%);
        transform: translateX(-50%) scale(1);
    }
}
